.idea/
.dart_tool/
.pub/
.gradle/
build/

*.iml
.packages
.metadata
pubspec.lock
local.properties
.flutter-plugins
.flutter-plugins-dependencies

example/android/gradle/wrapper/gradle-wrapper.jar
example/android/gradlew
example/android/gradlew.bat
GeneratedPluginRegistrant.java
